@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Gajraj+One&family=Open+Sans&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*carousel*/
.carousel-image {
  width: 50%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.CaroCon{
  position: relative;
  margin-bottom: 5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.CaroCon::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 1587px;
  height: 800px;
  margin-top: -241px;
  margin-left: -150px;
  background-image: url(https://img.freepik.com/free-photo/wall-full-old-ads_1194-7226.jpg?w=900&t=st=1677149044~exp=1677149644~hmac=89d0ee49ca01199d36ad3da1a9c61fa6605c77b812595e6a5d832543a00500c4);
  background-position: center center;
  z-index: -99;
  opacity: 0.1;
}

.CaroCon::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  margin-left: -145px;
  width: 1584px;
  height: 600px;
  margin-top: 150px;
  background-color: #f8f9fa;
  z-index: -99;
  border-radius: 100px 100px 0px 0px;
  box-shadow: 1px 1px 1px 5px orangered;
}

.sideB{
  margin-top: 13rem;
}

.fas-solid, .fas{
  font-size: 50px !important;
  margin-bottom: 5px;

}

.ViewText{
  margin-top: 1rem;
}

.php{
  color: orangered !important;
}

.buttonsV{
  display: flex;
  align-items: baseline;
 flex-direction: row-reverse;
}
.ViewDes{
  margin-top: 1rem;
  border-top: 0.1px solid dimgray;
  width: 75%;
}

.coinss{
  margin-top: 1rem;
}

.moneyT{
    position: absolute;
    margin-top: -40px;
    margin-left: 70px;
}

.fa-solid, .fas{
  font-size: 50px !important;
  margin-bottom: 5px;
}

.hotT{
  color: #282828;
  font-weight: 500;
  background-color: orangered;
  transform: rotate(-3deg);
  padding: 2px;

}

.favT{
  color: #282828;
  font-weight: 500;
  background-color: orangered;
  transform: rotate(-3deg);
  padding: 2px;

}


.font-alt{
  font-family: Gajraj One;
  text-shadow: 1px 2px 5px orangered;
  color: #282828;
}
.hateT{
  color: #282828;
  font-weight: 500;
  background-color: orangered;
  transform: rotate(-3deg);
  padding: 2px;
  
}

.undT{
  color: #282828;
  font-weight: 500;
  background-color: orangered;
  transform: rotate(-3deg);
  padding: 10px;
  margin-top: 10px;

}
/*carousel*/



/**/
.masthead {
/*  background-color: #f8f9fa;*/
  padding-top: 3.5rem;
  padding-bottom: 6rem;
  position: relative;
}

.masthead::before{
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 122.6%;
  height: 110%;
  margin-left: -150px;
  margin-top: -55px;
  background-image: url(https://img.freepik.com/free-photo/wall-full-old-ads_1194-7226.jpg?w=900&t=st=1677149044~exp=1677149644~hmac=89d0ee49ca01199d36ad3da1a9c61fa6605c77b812595e6a5d832543a00500c4);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2000px 850px;

  z-index: -1;
  opacity: 0.1;
}
.masthead .masthead-dev{
  display: flex;
  align-items: center;  
  position: relative;
}

.masthead-dev img{
  height: 600px;
  box-shadow: 0 0 10px 5px rgba(0,164,0,0.5), 0 0 20px 10px rgba(0,1,255,0.5);
  transform: rotate(10deg);
   z-index: 2;
}


.masthead-dev img:hover{
  box-shadow: 0 0 10px 5px rgba(0,164,0,0.5), 0 0 20px 10px rgba(0,1,255,0.5);
  transform: rotate(90deg);
  transform: scale(1.0);

}

.masthead .imageHome {
  position: absolute;
  fill: url(#circleGradient);
  width: 70%;
  display: none;
}
.masthead .imageHome {
  stop-color: #2937f0;
}
.masthead .imageHome {
  stop-color: #9f1ae2;
}
.masthead .imageHome {
  position: absolute;
  height: 1rem;
  width: 1rem;
  transform: rotate(-10deg);
  fill: #2937f0;
  bottom: 15%;
  left: 10%;
}
.masthead .imageHome {
  position: absolute;
  height: 0.75rem;
  width: 0.75rem;
  fill: #2937f0;
  top: 15%;
  right: 10%;
}
.masthead .imageHome {
  max-width: 10rem;
}
@media (min-width: 576px) {
  .masthead .imageHome .circle {
    width: 70%;
    display: block;
  }
  .masthead .imageHome .device-wrapper {
    max-width: 12.5rem;
  }
}
@media (min-width: 768px) {
  .masthead .imageHome .circle {
    width: 60%;
  }
  .masthead .imageHome .device-wrapper {
    max-width: 15rem;
  }
}
@media (min-width: 992px) {
  .masthead .imageHome .circle {
    width: 90%;
  }
  .masthead .imageHome .device-wrapper {
    max-width: 15rem;
  }
}
@media (min-width: 1200px) {
  .masthead .imageHome .circle {
    width: 75%;
  }
  .masthead .imageHome .device-wrapper {
    max-width: 15rem;
  }
}
@media (min-width: 1400px) {
  .masthead .mimageHome .circle {
    width: 70%;
  }
  .masthead .imageHome .device-wrapper {
    max-width: 17rem;
  }
}

.ano{
  font-family: Helvetica Neue;
  font-weight: 600 !important;
  font-size: 50px !important;
}

.animated-glitch:before,
.animated-glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.animated-glitch:before {
  animation: glitch-anim 3s infinite linear alternate-reverse;
  background-color: #000;
  clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  z-index: -1;
}

.animated-glitch:after {
  animation: glitch-anim2 3s infinite linear alternate-reverse;
  background-color: #000;
  clip-path: polygon(0 80%, 100% 80%, 100% 90%, 0 90%);
  z-index: -1;
}

.glitch-effect {
  position: relative;
}

.glitch-effect img {
  display: block;
  width: 75%;
  height: auto;
}

@keyframes glitch-anim {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(5px, -5px);
  }
  60% {
    transform: translate(-5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes glitch-anim2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate
}
}


.mid{
  background-color: #2286a2;
  position: relative;
  width: 1583px !important;
  height: 250px;
  margin-left: -145px !important;
  margin-bottom: 3rem;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/31/J.Cole%27s_Signature.svg');
  background-size: cover;
  opacity: 0.8;
  background-position-y: center;
  z-index: -1;
  top: -193px;
}

.mid::before{
  content: " ";
  top: 0;
  left: 0;
  width: 50%;
  height: 250px;
  position: absolute;
  background-image: url(https://www.largeup.com/wp-content/uploads/2015/01/Mixtape-Mondays-LargeUp.png);
  background-repeat: no-repeat;
  background-size: 350px 250px;
  background-position: 100px 350px;
  transform: rotate(-20deg);
}


.overflow-image {
  position: absolute;
  top: 520px; 
  left: 40px; 
  transform: rotate(-30deg);
  width: 25%;
  z-index: 9999;
  filter: hue-rotate(22deg);
}


.buts{
 margin-left: 1rem;
}

.subt{
  color: whitesmoke !important;
  border-top: 1px black solid;
  font-family: 'Droid Sans';
  background-color: orangered;
  padding-left: 3rem;
}
.qu{
  margin-left: 350px;
  padding-top: 5rem;
  font-size: 40px;
  font-family: BlinkMacSystemFont;
  font-weight: 600;
  color: floralwhite;
 
}

.artist{
  margin-left: 1050px;
  color: whitesmoke;
  font-weight: 400;

}
/**/


*{ 
  padding: 0;
  box-sizing: border-box;

}


.al1{
  margin-top: 1rem;
  width: 1100px;
}

#btnDet{
  background: none;
  border: 2px solid;
  line-height: 0.5;
  margin: 0.5em;
  padding: 1em 2em;
  color: black;
}

.btnDet5{
  background: none !important;
  border: 2px solid;
  line-height: 0.5;
  margin: 0.5em;
  padding: 1em 2em;
  color: black !important;
}

.btnDet5:hover{
   color: whitesmoke !important;
  background-color: orangered !important;
}




#btnDet:hover{
   color: whitesmoke !important;
  background-color: orangered !important;
}

.btnADD{
  background: none !important;
  border: 2px solid;
  line-height: 0.5;
  margin: 0.5em;
  padding: 1em 2em;
  color: black !important;
}

.btnADD:hover{
  color: whitesmoke !important;
  background-color: orangered !important;

}


#btnDet2{
  background: none;
  border: 2px solid;
  line-height: 0.5;
  margin: 0.5em;
  padding: 1em 2em;
  color: black;
}

#btnDet2:hover{
  color: whitesmoke;
  background-color: orangered;

}


#btnDet3{
  background: none !important;
  border: 2px solid;
  line-height: 0.5;
  margin: 0.5em;
  padding: 1em 2em;
  color: black !important;
}

#btnDet3:hover{
  color: whitesmoke !important;
  background-color: orangered !important;
}

#btnDet4{
   background: none !important;
  border: 2px solid;
  line-height: 0.5;
  margin: 0.5em;
  padding: 1em 1em;
  color: black !important;
}

#btnDet4:hover{
  color: whitesmoke !important;
  background-color: orangered !important;
}

#btnViewlog{
  margin-left: 1rem;

}

#btnView{
   background: none !important;
  border: 2px solid;
  line-height: 0.5;
  margin: 0.5em;
  padding: 1em 1em;
  color: black !important;
}

#btnView:hover{
  color: whitesmoke !important;
  background-color: orangered !important;
}

#butBan{
  background-color: #1e9bc7 !important;
}

.cardHighlight{
  min-height: 100%;
}

.pagetitle{
  font-family: sans serif, Gajraj One;
}

.notfound{
  text-decoration: none;
}

/* Navbar styles */

.navbar {
  padding: 1rem;
/*  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
/* background-color: transparent !important;*/
}

.trasnpo{
  background-color: rgba(255, 255, 255, 0.9);
}

.textAPP{
  font-weight: 600 !important;
}
.textAPP:hover{
  box-shadow: 0.6px 0px 0px 0.6px black;
  transform: scale(1.01) translateY(-1px);
  border-radius: 1px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans serif, Gajraj One;
  color: #141414 !important;
  padding-left: 1rem;
}

.navbar-nav {
  margin-left: auto;

}

.nav-link {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-link {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}


/*Reg*/
.MainTitle{
  font-family:sans serif, Gajraj One;
  text-shadow: 1px 1px 2px blueviolet;
  font-weight: 800;
  font-size: 60px;
  margin-left: 5rem;
  color: white;
}

/*Reg*/


/*highlights*/
.row {
  display: flex;
  justify-content: center;
}


.cardHighlight{
  margin-top: 2rem;
  padding: 5px;
  margin-left: 3rem;
  min-height: 100%;
  display: inline-block;
  width: 80%;
  margin-right: 2%;
  margin-bottom: 2%;
   outline: 1px solid black;
}

@media (max-width: 768px) {
  .cardHighlight {
    width: 100%;
    margin-right: 0;
  }
}

.alert-container {
  background-color: #ede8e8;
  width: 1200px; 
  height: 500px; 
  border-radius: 10px;
}

/*highlights*/

/*product card*/


.imgg{
    width: 360px;
    height: 250px;
}
.conProd{
  background-color: #f8f9fa;
  padding: 1px;
}

.productNames{
  font-weight: 800 !important;
  color: orangered;
}

.ProdT{
  font-family: Gajraj One;
  color: orangered;
   border-bottom: 2px solid orangered;
   width: 60%;
   text-shadow: 1px 2px 3px blueviolet;
}


.imahe{
  width: 1144px;
  height: 500px;
  position: relative;
  margin-left: 79px;
  margin-bottom: -4.3rem;
  border-radius: 10px 10px 0px 0px;

  box-shadow: 
    0 2px 0    rgba(0,0,0,0.05),
    0 0px 20px rgba(0,0,0,0.1);
  background-color: #fff;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 2rem;
}

.product-card {
  width: 100% !important;
  margin: 0;
  border-width: 0px !important;
}

.qtyView{
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  margin: 8px 0 !important;
  width: 10%;
  border-radius: 10px;
}


.qtyView:hover{
}

/*product card*/


/*PRODUCT CARD*/
.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 90%;
  max-width: 100%;
  text-align: left;
  text-align: center;

}

.Prce{
   padding: 0.5rem;
  vertical-align: top;
  text-align: inherit;
   font-weight: 600;
  vertical-align: bottom;
  color: $color_primary;
  border-bottom: 3px solid lighten;
}

th,
td {
  padding: 0.5rem;
  vertical-align: top;
}

th {
  text-align: inherit;
}

thead th {
  font-weight: 600;
  vertical-align: bottom;
  color: $color_primary;
  border-bottom: 3px solid lighten;
}

td {
  border-top: 1px solid lighten;
}


.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
}

.cole{
  width: 400px;
  height: 600px;
}

.AProd{
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 
    0 2px 0    rgba(0,0,0,0.05),
    0 5px 20px rgba(0,0,0,0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
}

.AProd:hover{
   transform: scale(1.01) translateY(-4px);
    box-shadow: 
      0 2px 0    rgba(0,0,0,0.05),
      0 3px 10px rgba(0,0,0,0.1),
      0 5px 20px rgba(0,0,0,0.2);
}

.term {
  flex: 1 0 100%;
  margin: 5px;
  text-align: center;
  width: 15rem;
 
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 
    0 2px 0    rgba(0,0,0,0.05),
    0 5px 20px rgba(0,0,0,0.4);
  background-color: #fff;
  transition: all 100ms ease-in-out;
}


.term:hover{
  transform: scale(1.01) translateY(-4px);
    box-shadow: 
      0 2px 0    rgba(0,0,0,0.05),
      0 3px 10px rgba(0,0,0,0.1),
      0 5px 20px rgba(0,0,0,0.2);
}

.Prce{
  color: orangered;
  font-size: 40px;
}


dt{
   margin-bottom: 1rem;
}

dt {
  color: $color_primary;
  line-height: 0;
  font-weight: 800 !important;
  font-size: 30px;
}

.dd {
  font-size: 92.5%;
  margin-left: 0;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  font-family: Myriad Pro;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

strong {
  color: black;
}

dd dl .term {
  margin-bottom: 1rem;
}

dd strong {
  border-bottom: solid 1px rgba(255,255,255,0.5);
}


.PC{

}

.hori{
  border: 0; 
  height: 2px; 
  background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);

}

div{
  display: ;
}
/**/

/*Product View*/
.viewprod{
  width: -webkit-fill-available;
}

.viewprodCon{
  border-width: 0px !important;
}

.viewprodRow{
  justify-content: space-between !important;
}
/*Product View*/


/*Footer*/
.footer {
  bottom: 0;
  width: 122.29%;
  height: 300px !important;
  margin-left: -145px;
  padding-bottom: 20px;
}

.fa-brands{
  font-size: 40px;
}

.fa-github{
  color: black;
}

.fa-instagram{
   background: linear-gradient(to right, #fdf497, #fdf497, #fd5949, #d6249f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

div h5{
  font-weight: 800;
}

footer {
  padding-top: 30px;
  background-color: #f8f9fa;
  color: #141414;
}

.footC{
      float: right;
    line-height: 30px;
    font-size: 14px;
    color: #606060;
    font-weight: 200;
}

.delibs{
  display: flex;
      flex-direction: revert;
    align-items:center;
}

.jnt{
  width: 25%;
  height: auto;
/*  border-radius: 50%;*/
}

.fol{
  font-weight: 800;
}

footer a {
  color: #282828;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  transform: scale(1.1);
}

/*Footer*/


/*USERCARD*/
.mobNum{
  font-weight: 400 !important;
  margin-top: 2px !important;
}

.emailUser{
   font-weight: 700 !important;
}

.nameUsers{
  color: orangered;
  font-weight: 800 !important;
  font-size: 25px !important;
}
/*USERCARD*/



/*Banner*/
@media (max-width: 425px) {
  .lead {
    font-size: 1rem !important;
    margin-left: -50px;
    padding: 0px;
  }
  .qu {
    font-size: 1.5rem;
    margin-top: 2rem;
    display: flex;
    margin-left: 10px;
  }
  .artist {
    font-size: 20px;
  
  }

  .albs{
    font-size: 25px;

  }
  .MainTitle{
    font-size: 40px;
  }
  .masthead{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .overflow-image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }

}
/*Banner*/