body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      background-color: darkturquoise !important;
    }

/*
body::before{
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 41%;
  background-image: url(https://img.freepik.com/free-photo/wall-full-old-ads_1194-7226.jpg?w=900&t=st=1677149044~exp=1677149644~hmac=89d0ee49ca01199d36ad3da1a9c61fa6605c77b812595e6a5d832543a00500c4);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2000px 850px;

  z-index: -1;
  opacity: 0.1;
}
*/

/*body::before{
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
 background-image: url(https://toppng.com/uploads/preview/what-other-items-do-customers-buy-after-viewing-this-mixtape-hipho-1156392562959v9as9w5l.png);
}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
